---
layout: default
---
<section>
  <div class="container" style="height: calc(100vh-85px)">
    <div class="row">
        <div class="col-sm-6 mt-3">
          <img src="/assets/img/label.jpg" class="w-100" alt="">
        </div>
        <div class="col-sm-6 d-flex">
          <div class="align-self-center p-3">
          <h5>برچسب</h5>
          <h1>من برای عابرپیاده می‌ایستم</h1>
          <p>برچسب «من برای عابرپیاده می‌ایستم» پیمانِ احترام به حق عابرپیاده است. ما با نصب این برچسب متعهد می‌شویم حق عابرپیاده را رعایت کنیم؛ و در گذرگاه‌ و معابری که حق تقدم با عابرپیاده است برای آن‌ها بایستیم. در حال رانندگی اگر این برچسب را بر شیشه عقب اتومبیلی دیدیم، انتظار ترمز ناگهانی برای گذر عابرپیاده داشته باشیم. </p>
          <h5>راهنمای نصب پرچسب:</h5>
          <p>
            ۱.  برچسب از داخل اتومبیل نصب می‌شود. <br>
            ۲. اولویت نصب برچسب بر شیشه پشت اتومبیل سمت راننده است. <br>
            ۳. اگر قصد نصب هر دو برچسب را دارید، برچسب بزرگتر بر شیشه عقب ماشین سمت راننده و برچسب کوچک بر شیشه جلو سمت شاگرد نصب می‌شود. <br>
            ۴. قبل از نصب برچسب شیشه را از داخل کاملاً تمیز کنید. <br>
            ۵. می‌توانید قبل از نصب کمی شیشه‌شور یا محلول آب و مایع ظرف‌شویی را در محل نصب اسپری کنید تا از شکل‌گیری حباب زیر برچسب جلوگیری شود. <br>
          </p>
          <h5>تهیه:</h5>
          <p>
            <b>نشرچشمه - بابل، خیابان شریعتی</b> <br>
            <b>کتاب‌فروشی شب‌تاب - بابل، خیابان نواب</b><br>
          </p>
          <a href="https://www.instagram.com/khateaber/" class="btn btn-lg btn-outline-dark rounded-pill">پیوستن</a>
          </div>
        </div>
    </div>
  </div>
</section>
<section class="mt-5  text-center">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-sm-6 text-center">
        <h1 class="text-center">معرفی کمپین</h1>
        <h4><i class="bi bi-star-fill"></i></h4>
      </div>
    </div>
    <div class="row justify-content-md-center">
      <div class="col-sm-6 lead">
        <p>
          کمپین من هم خط عابرپیاده را می‌خوانم از ۱۸ شهریور سال ۱۳۹۵ با هدف آگاهی بخشی درباره حق حرکت پیاده و حذف تلفات عابر پیاده با محوریت خط عابر تشکیل شد. خط عابری که انگار به زبانی بیگانه بر خیابان‌های شهر ما نقش بسته است و پیاده و سواره بی‌تفاوت از کنار آن می‌گذریم و بخشی از زیبایی بصری و زشتی فرهنگی جامعه شهری ما شده است. ایستادن برای عابرپیاده پشت خط عابر در حرکت سواره و استفاده از خط عابرپیاده در حرکت پیاده دو حرکت ساده‌ای است که انجام آن سال‌ها بعد از خیابان‌کشی‌های جدید شهری در فرهنگ ترافیکی جامعه ایرانی غایب است و از دید بیرونی به معنای بی ارزشی جان انسان تعبیر می‌شود.
        </p>
      </div>
    </div>
  </div>
</section>
<section class="mt-5  text-center">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-sm-6 text-center">
        <h1 class="text-center">راهنمای حرکت امن در کنار هم</h1>
        <p class="text-secondary">برگرفته از نکات ایمنی در حرکت در بروشور BeStreetSmart.net</p>
      </div>
    </div>
    <h4>در حرکت پیاده</h4>
    <div class="row row-cols-1 row-cols-md-6 g-4 justify-content-md-center">
      <div class="col">
        <div class="card m-3 border-0">
          <img src="/assets/img/p1.jpg" class="card-img-top" alt="...">
          <div class="card-body m-0 p-0">
            <p class="font-weight-bold card-text">استفاده از خط عابر پیاده</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card m-3 border-0">
          <img src="/assets/img/p2.jpg" class="card-img-top" alt="...">
          <div class="card-body m-0 p-0">
            <p class="font-weight-bold card-text">توجه به وسائل در حال گردش</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card m-3 border-0">
          <img src="/assets/img/p3.jpg" class="card-img-top" alt="...">
          <div class="card-body m-0 p-0">
            <p class="font-weight-bold card-text">عبور هنگام چراغ سبز عابرپیاده</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card m-3 border-0">
          <img src="/assets/img/p4.jpg" class="card-img-top" alt="...">
          <div class="card-body m-0 p-0">
            <p class="font-weight-bold card-text">پوشیدن لباس روشن در شب</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card m-3 border-0">
          <img src="/assets/img/p5.jpg" class="card-img-top" alt="...">
          <div class="card-body m-0 p-0">
            <p class="font-weight-bold card-text">توجه به نقاط کور وسائل نقلیه</p>
          </div>
        </div>
      </div>
    </div>
    <h4>در حرکت سواره</h4>
    <div class="row row-cols-1 row-cols-md-6 g-4 justify-content-md-center">
      <div class="col">
        <div class="card m-3 border-0">
          <img src="/assets/img/s1.jpg" class="card-img-top" alt="...">
          <div class="card-body m-0 p-0">
            <p class="font-weight-bold card-text">توقف کامل برای عابر پیاده</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card m-3 border-0">
          <img src="/assets/img/s2.jpg" class="card-img-top" alt="...">
          <div class="card-body m-0 p-0">
            <p class="font-weight-bold card-text">توجه به عابرپیاده در هنگام سبقت گرفتن</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card m-3 border-0">
          <img src="/assets/img/s3.jpg" class="card-img-top" alt="...">
          <div class="card-body m-0 p-0">
            <p class="font-weight-bold card-text">رعایت سرعت مجاز</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card m-3 border-0">
          <img src="/assets/img/s4.jpg" class="card-img-top" alt="...">
          <div class="card-body m-0 p-0">
            <p class="font-weight-bold card-text">توجه به عابرپیاده در هنگام گردش</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card m-3 border-0">
          <img src="/assets/img/s5.jpg" class="card-img-top" alt="...">
          <div class="card-body m-0 p-0">
            <p class="font-weight-bold card-text">نگاه به عقب قبل از باز کردن در خودرو</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card m-3 border-0">
          <img src="/assets/img/s6.jpg" class="card-img-top" alt="...">
          <div class="card-body m-0 p-0">
            <p class="font-weight-bold card-text">رعایت فاصله یک متری با دوچرخه</p>
          </div>
        </div>
      </div>
    </div>
    <h4>در حرکت با دوچرخه و موتورسیکلت...</h4>
    <div class="row row-cols-1 row-cols-md-6 g-4 justify-content-md-center">
      <div class="col">
        <div class="card m-3 border-0">
          <img src="/assets/img/b1.jpg" class="card-img-top" alt="...">
          <div class="card-body m-0 p-0">
            <p class="font-weight-bold card-text">پیروی از قوانین رانندگی</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card m-3 border-0">
          <img src="/assets/img/b2.jpg" class="card-img-top" alt="...">
          <div class="card-body m-0 p-0">
            <p class="font-weight-bold card-text">عدم حرکت در پیاده‌رو</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card m-3 border-0">
          <img src="/assets/img/b3.jpg" class="card-img-top" alt="...">
          <div class="card-body m-0 p-0">
            <p class="font-weight-bold card-text">استفاده از دست در نبود راهنما</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card m-3 border-0">
          <img src="/assets/img/b4.jpg" class="card-img-top" alt="...">
          <div class="card-body m-0 p-0">
            <p class="font-weight-bold card-text">استفاده از چراغ هنگام شب</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card m-3 border-0">
          <img src="/assets/img/b5.jpg" class="card-img-top" alt="...">
          <div class="card-body m-0 p-0">
            <p class="font-weight-bold card-text">استفاده از کلاه ایمنی</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card m-3 border-0">
          <img src="/assets/img/b6.jpg" class="card-img-top" alt="...">
          <div class="card-body m-0 p-0">
            <p class="font-weight-bold card-text">حرکت در مسیر مستقیم</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="mt-5">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-sm-6 text-center">
        <h1 class="text-center">محدوده امن مدارس</h1>
        <h4><i class="bi bi-star-fill"></i></h4>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <h3>ویژگی‌ها</h3>
        <div class="container">
          <div class="row row-cols-1 row-cols-md-1">
            {% include school-district.html %}
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <h3>وضعیت مدارس ابتدایی شهرستان بابل</h3>
        <p class="lead">کمپین خط عابر در تابستان ۱۳۹۷ اقدام به برداشت وضعیت تمامی ۱۰۷ مدرسه ابتدایی شهرستان بابل از نظر موقعیت قرار گیری و وضعیت تجهیزات حرکت ایمن در محدوده مدارس (شامل خط عابرپیاده، سرعت‌گیر، و تابلو راهنمایی) کرد. برای اطلاعات کامل وضعیت مدارس ابتدایی شهرستان بابل از نظر ایمنی خط عابر به صفحه اختصاصی این هدف مراجعه کنید.</p>
        {% include schools-status.html %}
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container-fluid m-0 p-0 " style="">
    {%include schools-map.html %}
  </div>
</section>
<section class="mt-5">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-sm-6 text-center">
        <h1 class="text-center">محصولات کمپین</h1>
        <h4><i class="bi bi-star-fill"></i></h4>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-sm-6">
          <img src="/assets/img/shabtaab1.jpg" class="w-100" alt="">
      </div>
      <div class="col-sm-6">
        <h3>شب‌تاب</h3>
        <p class="lead">
          بیش از ۶۰ درصد تلفات عابرپیاده در سوانح رانندگی در شب اتفاق می‌افتد. «شب‌تاب» محصولی از کمپین خط عابر است که با هدف افزایش ایمنی و کاهش تصادفات عابرپیاده از طریق دیدن و دیده شدن در شب و هشدار به رانندگان طراحی شده است.
        </p>
        <h4>از فروشگاه‌های منتخب در بابل</h4>
        <ul>
          <li><b>کتابفروشی شب‌تاب</b>: خیابان نواب، بین اشرفی ۲۳ و ۲۵، تلفن: ۰۱۱۳۲۲۶۰۳۲۴</li>
          <li><b>نشر چشمه بابل</b>: خیابان شریعتی، روبروی شیرینی‌سرا تلفن: ۰۱۱۳۲۴۷۶۵۷۱</li>
          <li><b>سوپر حسین</b>: کمربندی غربی، نرسیده به امیرکبیر، روبروی توحید ۴۰ تلفن: ۰۱۱۳۲۳۶۶۲۳۶</li>
          <li><b>گالری کیف و کفش روشا</b>: خیابان شریعتی، روبروی شیرینی‌سرا تلفن: ۰۹۳۹۲۱۴۸۵۴۵</li>
          <li><b>جهان اسپرت</b>: میدان ۱۷ شهریور، خیابان شهریارپوری، تلفن ۰۱۱۳۲۱۹۳۸۱۵</li>
          <li><b>فروشگاه علمی</b>: چهارراه شهدا تلفن: ۰۱۱۳۲۱۹۳۹۷۹</li>
        </ul>
        <h4>سفارش آنلاین (از سراسر ایران)</h4>
        <div class="container">
          <div class="row row-cols-1 row-cols-md-4 g-4 justify-content-md-center">
            <div class="col">
              <div class="card m-3 border-0">
                <img src="/assets/img/shabtab-blue.png" class="card-img-top" alt="...">
              </div>
            </div>
            <div class="col">
              <div class="card m-3 border-0">
                <img src="/assets/img/shabtab-red.png" class="card-img-top" alt="...">
              </div>
            </div>
            <div class="col">
              <div class="card m-3 border-0">
                <img src="/assets/img/shabtab-yellow.png" class="card-img-top" alt="...">
              </div>
            </div>
            <div class="col">
              <div class="card m-3 border-0">
                <img src="/assets/img/shabtab-green.png" class="card-img-top" alt="...">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-sm-6">
        <h3>برچسب «من برای عابر پیاده می‌ایستم»</h3>
        <p class="lead">
          ما، کسانی که این برچسب را بر اتومبیل یا موتورسیکلتمان زده‌ایم، در حمایت از حق عابر پیاده می‌ایستیم و به هنگام رانندگی متعهد می‌شویم:
        </p>
        <ul>
          <li>به عابر پیاده و حق او احترام بگذاریم؛</li>
          <li>مراقب و مـتوجه عابـر پیاده باشیم؛</li>
          <li>با دیدن عابر پیاده روی خط عابر، قبل از خط عابر به طور کامل توقف کنیم؛</li>
          <li>با دیدن عـابر پـیاده در حـال عبور از خـیابان، از سـرعت اتومـبیل بکاهیم و درصورت امکان توقف کنیم؛</li>
          <li>از سرعـت مجـاز ۵۰ کـیلومتر در ساعت در خیابان های شهری و ۲۰ کیلومتر در ساعت در کوچه ها و میادین و پیچ ها تجاوز نکنیم؛</li>
          <li>از پیاده رو در هر شرایـط و زمـانی برای راندن مـوتـور و توقـف و پارک استفاده نکنیم؛</li>
        </ul>
      </div>
      <div class="col-sm-6">
          <img src="/assets/img/sticker1.jpg" class="w-100" alt="">
      </div>
  </div>
</section>
<section>
  <div class="container text-center mt-5">
    <h1>همراهان کمپین</h1>
    <div class="card-group">
        <div class="card m-3 border-0">
          <img src="/assets/img/hamrah-bahamestan.jpg" class="card-img-top mx-auto" style="max-width:150px;">
          <div class="card-body m-0 p-0">
            <p class="font-weight-bold card-text">مجمع حق‌برشهر باهمستان</p>
          </div>
        </div>
        <div class="card m-3 border-0">
          <img src="/assets/img/hamrah-cheshmeh.png" class="card-img-top mx-auto" style="max-width:150px;">
          <div class="card-body m-0 p-0">
            <p class="font-weight-bold card-text">نشر چشمه</p>
          </div>
        </div>
        <div class="card m-3 border-0">
          <img src="/assets/img/hamrah-simorgh.jpg" class="card-img-top mx-auto" style="max-width:150px;">
          <div class="card-body m-0 p-0">
            <p class="font-weight-bold card-text">گروه دوچرخه‌سواری سیمرغ</p>
          </div>
        </div>
        <div class="card m-3 border-0">
          <img src="/assets/img/hamrah-khanevadehsalem.jpg" class="card-img-top mx-auto" style="max-width:150px;">
          <div class="card-body m-0 p-0">
            <p class="font-weight-bold card-text">مؤسسه خانواده سالم</p>
          </div>
        </div>
        <div class="card m-3 border-0">
          <img src="/assets/img/hamrah-ensanshenasi.png" class="card-img-top mx-auto" style="max-width:150px;">
          <div class="card-body m-0 p-0">
            <p class="font-weight-bold card-text">انجمن انسان‌شناسی ایران</p>
          </div>
        </div>
        <div class="card m-3 border-0">
          <img src="/assets/img/hamrah-babolcity.jpg" class="card-img-top mx-auto" style="max-width:150px;">
          <div class="card-body m-0 p-0">
            <p class="font-weight-bold card-text">شهرداری بابل</p>
          </div>
        </div>
        <div class="card m-3 border-0">
          <img src="/assets/img/harah-koodakandonya.jpg" class="card-img-top mx-auto" style="max-width:150px;">
          <div class="card-body m-0 p-0">
            <p class="font-weight-bold card-text">مؤسسه کودکان دنیا</p>
          </div>
        </div>
        <div class="card m-3 border-0">
          <img src="/assets/img/hamrah-avayetahrir.jpg" class="card-img-top mx-auto" style="max-width:150px;">
          <div class="card-body m-0 p-0">
            <p class="font-weight-bold card-text">شرکت آوای تحریر</p>
          </div>
        </div>
        <div class="card m-3 border-0">
          <img src="/assets/img/hamrah-shimilux.jpg" class="card-img-top mx-auto" style="max-width:150px;">
          <div class="card-body m-0 p-0">
            <p class="font-weight-bold card-text">شرکت شیمی لوکس</p>
          </div>
        </div>
    </div>
  </div>
</section>
