---
layout: page
title: پروژه محدوده امن مدارس
slug: /schools
coverImg: /assets/img/schools-header.jpg
excerpt: کمپین خط عابر در تابستان ۱۳۹۷ اقدام به برداشت وضعیت تمامی ۱۰۷ مدرسه ابتدایی شهرستان بابل از نظر موقعیت قرار گیری و وضعیت تجهیزات حرکت ایمن در محدوده مدارس (شامل خط عابرپیاده، سرعت‌گیر، و تابلو راهنمایی) کرد. برای اطلاعات کامل وضعیت مدارس ابتدایی شهرستان بابل از نظر ایمنی خط عابر به صفحه اختصاصی این هدف مراجعه کنید.
---
<section>
  <div class="container">
    <div class="row text-center mt-5">
      <h2>ویژگی‌های محدوده امن‌ مدارس</h2>
      <span class="text-secondary">محدوده امن مدارس باید داری ویژگی‌های زیر باشند.</span>
    </div>
    <div class="row row-cols-1 row-cols-md-2 g-4">
      {% include school-district.html %}
    </div>
  </div>
</section>
<section>
  <div class="container mt-3">
    <div class="row text-center">
      <h2>وضعیت مدارس ابتدایی شهرستان بابل</h2>
    </div>
    <div class="row justify-content-md-center">
      <div class="col-8">
        {% include schools-status.html %}
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container mt-5">
    <div class="row text-center">
      <h2>نقشه وضعیت مدارس ابتدایی شهرستان بابل</h2>
    </div>
    <div class="row">
      {%include schools-map.html %}
    </div>
  </div>
</section>
<section>
  <div class="container mt-5">
    <div class="row text-center">
      <h2>جدول وضعیت مدارست ابتدایی شهرستان بابل</h2>
      <span class="text-secondary">فایل اکسل وضعیت مدارس را از <a href="#">اینجا</a> دانلود کنید.</span>
    </div>
    <div class="row">
      {%include schools-table.html %}
    </div>
  </div>
</section>
