<section id="join" class="mt-5 pt-5 pb-5 footer text-white bg-primary">
<div class="container">
  <h1 class="text-center">پیوستن به کمپین</h1>
  <div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
      <div class="card bg-transparent border-0">
        <div class="card-content">
          <div class="card-body">
            <div class="media d-flex">
              <div class="align-self-center">
                <i class="bi bi-dice-1-fill h1"></i>
              </div>
              <div class="media-body text-right align-self-center ms-2 p-2">
                <h4>با حرکت امن در حرکت سواره و پیاده</h4>
                <span>شما با احترام به خط عابرپیاده و رعایت نکات حرکت امن در حرکت پیاده، سواره، دوچرخه و موتور می‌توانید به کمپین خط عابر پیاده بپیوندید.</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card bg-transparent border-0">
        <div class="card-content">
          <div class="card-body">
            <div class="media d-flex">
              <div class="align-self-center">
                <i class="bi bi-dice-2-fill h1"></i>
              </div>
              <div class="media-body text-right align-self-center ms-2 p-2">
                <h4>با عضویت در رسانه‌های اجتماعی کمپین</h4>
                <span>کمپین در تلگرام، اینستاگرام، و توئیتر با شناسه khateaber@ فعالیت می‌کند. با پیوستن به این کانال‌های ارتباطی در رساندن صدای کمپین مشارکت کنید.</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card bg-transparent border-0">
        <div class="card-content">
          <div class="card-body">
            <div class="media d-flex">
              <div class="align-self-center">
                <i class="bi bi-dice-3-fill h1"></i>
              </div>
              <div class="media-body text-right align-self-center ms-2 p-2">
                <h4>با استفاده از شب‌تاب (چراغ همراه)</h4>
                <span>شب‌تاب محصولی از کمپین برای دیده‌شدن در شب است. با تهیه و استفاده از آن می‌توانید ضمن افزایش ایمنی خود به گسترش استفاده از آن کمک کنید</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card bg-transparent border-0">
        <div class="card-content">
          <div class="card-body">
            <div class="media d-flex">
              <div class="align-self-center">
                <i class="bi bi-dice-4-fill h1"></i>
              </div>
              <div class="media-body text-right align-self-center ms-2 p-2">
                <h4>با نصب برچسب «من برای عابرپیاده می‌ایستم»</h4>
                <span>شما می‌توانید با تهیه و نصب برچسب «من برای عابرپیاده می‌ایستم» بر شیشه جلو خودروی خود برای احترام به حق عابرپیاده همپیمان شوید.</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card bg-transparent border-0">
        <div class="card-content">
          <div class="card-body">
            <div class="media d-flex">
              <div class="align-self-center">
                <i class="bi bi-dice-5-fill h1"></i>
              </div>
              <div class="media-body text-right align-self-center ms-2 p-2">
                <h4>با عضویت در کارگروه‌های کمپین​</h4>
                <span>کمپین در حال حاضر در دو کارگروه آموزش و ترویج داوطلب می‌پذیرد. برای مشارکت فرم عضویت را پر کنید.</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card bg-transparent border-0">
        <div class="card-content">
          <div class="card-body">
            <div class="media d-flex">
              <div class="align-self-center">
                <i class="bi bi-dice-6-fill h1"></i>
              </div>
              <div class="media-body text-right align-self-center ms-2 p-2">
                <h4>با کمک مالی به کمپین​​</h4>
                <span>کمپین یک حرکت جمعی و سرمایه عمومی برای حذف تلفات عابرپیاده در شهر بابل است. با کمک مالی به کمپین در پیشبرد اهداف کمپین سهیم شوید.</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
<section class="pt-5 pb-5 footer text-white bg-dark">
<div class="container">
  <div class="row">
    <div class="col-lg-4 col-xs-12 about-company">
      <h4>کمپین من هم خط عابر پیاده را می‌خوانم</h4>
      <p class="pr-5 text-white-50">کمپین من هم خط عابرپیاده را می‌خوانم از ۱۸ شهریور سال ۱۳۹۵ با هدف آگاهی بخشی درباره حق حرکت پیاده و حذف تلفات عابر پیاده با محوریت خط عابر تشکیل شد…</p>
      <p><a href="https://twitter.com/khateaber"><i class="bi bi-twitter"></i></a>   <a href="https://instagram.com/khateaber"><i class="bi bi-instagram"></i></a></p>
    </div>
    <div class="col-lg-2 col-xs-12 links">
      <h4 class="mt-lg-0 mt-sm-3">پیوندها</h4>
        <ul class="m-0 p-0">
          {% for item in site.data.topnav %}
          <li class="{% if page.url == item.link %} active{% endif %} {% if item.name == 'login' %}existingUserQ newUser{% endif %}{% if item.name == 'user' %}welcomeUserTxt loggedin{% endif %}">
            <a {% if item.name == 'login' %}data-toggle="modal" data-target="#modalLoginForm"{% endif %} class="{% if page.url == item.link %} active{% endif %}" href="{{ item.link }}">
              {% if item.name == 'login' %}<span>ورود / عضویت</span>{% endif %}
              {{ item.label }}
              {% if page.url == item.link %} <span class="sr-only">(کنونی)</span>{% endif %}
              {% if item.name == 'user' %}<span class="userFullName"></span>{% endif %}
            </a>
          </li>
          {% endfor %}
        </ul>
    </div>
    <div class="col-lg-3 col-xs-12 links">
      <h4 class="mt-lg-0 mt-sm-3">منابع</h4>
        <ul class="m-0 p-0">
          {% for item in site.data.resources %}
          <li class="{% if page.url == item.link %} active{% endif %} {% if item.name == 'login' %}existingUserQ newUser{% endif %}{% if item.name == 'user' %}welcomeUserTxt loggedin{% endif %}">
            <a {% if item.name == 'login' %}data-toggle="modal" data-target="#modalLoginForm"{% endif %} class="{% if page.url == item.link %} active{% endif %}" href="{{ item.link }}">
              {% if item.name == 'login' %}<span>ورود / عضویت</span>{% endif %}
              {{ item.label }}
              {% if page.url == item.link %} <span class="sr-only">(کنونی)</span>{% endif %}
              {% if item.name == 'user' %}<span class="userFullName"></span>{% endif %}
            </a>
          </li>
          {% endfor %}
        </ul>
    </div>
    <div class="col-lg-3 col-xs-12 location">
      <h4 class="mt-lg-0 mt-sm-4">تماس</h4>
      <p><i class="bi bi-geo-alt-fill"></i> آدرس: بابل، خیابان نواب، بین اشرفی ۲۱ و ۲۳، کتاب‌فروشی شب‌تاب</p>
      <p class="mb-0" dir="ltr"><i class="bi bi-telephone-fill"></i> (21) 666-6666</p>
      <p  dir="ltr"><i class="bi bi-envelope-fill"></i> khateaber@gmail.com</p>
    </div>
  </div>
  <div class="row mt-5 text-center" dir="ltr">
    <div class="col copyright">
      <p class=""><small class="text-white-50">© 2015-2022 khateaber.org | All Rights Reserved.</small></p>
    </div>
  </div>
</div>
</section>
