<nav class="navbar navbar-expand-lg navbar-light bg-white">
    <div class="container">
        <a href="/" class="navbar-brand h1">
          <img src="/assets/img/logo.jpg" alt="" width="50" height="50">
          {{site.title}}
        </a>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav">
            </div>
            <div class="navbar-nav ms-auto">
              {% for item in site.data.topnav %}
              <li class="nav-item {% if page.url == item.link %} active{% endif %} {% if item.subitems %}dropdown{%endif%}">
                <a class="nav-link {%if item.name == 'join'%} btn btn-dark text-light rounded-pill {%endif%} mx-2 {% if item.subitems %}dropdown-toggle{%endif%}" href="{{ item.link }}" {% if item.subitems %}id="{{item.name}}Dropdown" data-bs-toggle="dropdown" aria-expanded="false"{%endif%}  role="button">
                  {% if item.faClass %}
                  <i class="{{ item.faClass }}" aria-hidden="true"></i>
                  {% else %}
                  {{ item.label }}
                  {% endif %}
                </a>
                {% if item.subitems %}
                <ul class="dropdown-menu" aria-labelledby="{{item.name}}Dropdown">
                  {% for entry in item.subitems %}
                    <li class="dropdown-item"><a class="text-reset text-decoration-none" href="{{ entry.url }}">{{ entry.label }}</a></li>
                  {% endfor %}
                </ul>
                {%endif%}
              </li>
              {% endfor %}
            </div>
        </div>
    </div>
</nav>
