<div class="col">
  <div class="card border-0">
    <div class="card-content">
      <div class="card-body">
        <div class="media d-flex">
          <div class="align-self-center">
            <img  class="img-fluid" src="/assets/img/xing.png" width="100px" alt="">
          </div>
          <div class="media-body text-right align-self-center p-2">
            <h4>خط عابر پیاده</h4>
            <span class="text-secondary">روبروی در ورودی تمامی مدارس باید خط عابرپیاده کشیده شود.</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col">
  <div class="card border-0">
    <div class="card-content">
      <div class="card-body">
        <div class="media d-flex">
          <div class="align-self-center">
            <img  class="img-fluid" src="/assets/img/bump.png" width="100px" alt="">
          </div>
          <div class="media-body text-right align-self-center p-2">
            <h4>سرعت‌گیر</h4>
            <span class="text-secondary">قبل از مدارس باید برای کاهش سرعت وسایل نقلیه سرعت‌گیر ایجاد شود.</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col">
  <div class="card border-0">
    <div class="card-content">
      <div class="card-body">
        <div class="media d-flex">
          <div class="align-self-center">
            <img  class="img-fluid" src="/assets/img/school_sign.png" width="100px" alt="">
          </div>
          <div class="media-body text-right align-self-center p-2">
            <h4>تابلو راهنمایی</h4>
            <span class="text-secondary">قبل از مدارس باید تابلو راهنمایی «به مدرسه نزدیک می‌شوید» نصب شود.</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col">
  <div class="card border-0">
    <div class="card-content">
      <div class="card-body">
        <div class="media d-flex">
          <div class="align-self-center">
            <img  class="img-fluid" src="/assets/img/light.png" width="100px" alt="">
          </div>
          <div class="media-body text-right align-self-center p-2">
            <h4>چراغ چشمک‌زن</h4>
            <span class="text-secondary">قبل از مدارس باید چراغ چشمک‌زن برای هشدارزمان شروع و پایان مدارس وجود داشته باشد.</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
