<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
<table id="schoolsTable" class="table compact table-striped" style="width: 100%;">
  <thead>
    <tr>
      <th>جنسیت</th>
      <th>نام</th>
      <th>نوع معبر مجاور</th>
      <th>عرض معبر مجاور</th>
      <th>حرکت</th>
      <th>خط‌عابر</th>
      <th>سرعت گیر</th>
      <th>تابلو راهنمایی</th>
      <th>آدرس دقیق</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>دخترانه</td><td>اشراق</td><td>کوچه</td><td>۶ قدم</td><td>دوطرفه</td><td>با فاصله دارد</td><td>ندارد</td><td>ندارد</td><td>خیابان طبرسی، سرداران ۱۲</td></tr>
    <tr><td>دخترانه</td><td>الزهرا</td><td>خیابان فرعی</td><td>۱۲ قدم</td><td>دوطرفه</td><td>با فاصله دارد</td><td>ندارد</td><td>ندارد</td><td>میدان حمزه کلا، خ وحدت، بعد از شهربازی مریم</td></tr>
    <tr><td>دخترانه</td><td>اندیشه دختران</td><td>خیابان فرعی</td><td>۹ قدم</td><td>دوطرفه</td><td>با فاصله دارد</td><td>ندارد</td><td>ندارد</td><td>بین میدان کارگر و کشوری - سرداران ۱۲ - کوچه دانشگاه علوم و فنون</td></tr>
    <tr><td>دخترانه</td><td>پژوهش (پیش)</td><td>کوچه</td><td>۹ قدم</td><td>دوطرفه</td><td>ندارد</td><td>ندارد</td><td>ندارد</td><td>بین میدان کارگر و کشوری - سرداران ۱۲ - کوچه دانشگاه علوم و فنون</td></tr>
    <tr><td>دخترانه</td><td>پیش دبستانی مستقل باران</td><td>کوچه</td><td>۶ قدم</td><td>دوطرفه</td><td>ندارد</td><td>ندارد</td><td>ندارد</td><td>کشوری، پشت هتل مرجان، ذوالفقار ۸</td></tr>
    <tr><td>دخترانه</td><td>خردمند</td><td>خیابان فرعی</td><td>۸ قدم</td><td>دوطرفه</td><td>ندارد</td><td>ندارد</td><td>ندارد</td><td>خیابان شریعتی، معلم ۹</td></tr>
    <tr><td>دخترانه</td><td>دین و دانش</td><td>کوچه</td><td>۸ قدم</td><td>دوطرفه</td><td>ندارد</td><td>ندارد</td><td>ندارد</td><td>میدان شهید بزاز، بوستان ۳۲</td></tr>
    <tr><td>دخترانه</td><td>راهیان نور (پیش)</td><td>خیابان اصلی</td><td>۱۲ قدم</td><td>دوطرفه</td><td>ندارد</td><td>ندارد</td><td>ندارد</td><td>خیابان امیرکبیر شرقی، بین فردوس ۴ و فردوس ۶</td></tr>
    <tr><td>دخترانه</td><td>راهیان نور (دختر)</td><td>خیابان اصلی</td><td>۱۲ قدم</td><td>دوطرفه</td><td>ندارد</td><td>ندارد</td><td>ندارد</td><td>خیابان امیرکبیر شرقی، بین فردوس ۴ و فردوس ۶</td></tr>
    <tr><td>دخترانه</td><td>ستارگان</td><td>خیابان اصلی</td><td>۲۰ قدم</td><td>دوطرفه</td><td>با فاصله دارد</td><td>ندارد</td><td>ندارد</td><td>میدان کارگر، بانک ملی، گنج افروز</td></tr>
    <tr><td>دخترانه</td><td>سما</td><td>خیابان فرعی</td><td>۸ قدم</td><td>دوطرفه</td><td>ندارد</td><td>ندارد</td><td>ندارد</td><td>خیابان امیرکبیر شرقی، خورشید کلا، نرسیده به مسجد</td></tr>
    <tr><td>دخترانه</td><td>عترت</td><td>خیابان اصلی</td><td>۲۴ قدم</td><td>دوطرفه</td><td>دارد</td><td>ندارد</td><td>ندارد</td><td>قبل از چهارراه شهاب‌نیا، توحید ۷</td></tr>
    <tr><td>دخترانه</td><td>فرشتگان</td><td>خیابان اصلی</td><td>۲۰ قدم</td><td>دوطرفه</td><td>ندارد</td><td>ندارد</td><td>ندارد</td><td>امیرکلا-دیوکلا-نرسیده به مزار شهدا</td></tr>
    <tr><td>دخترانه</td><td>فروغ دانش</td><td>کوچه</td><td>۵ قدم</td><td>دوطرفه</td><td>ندارد</td><td>ندارد</td><td>ندارد</td><td>نقیب کلا، هادی ۸، کوچه شهید علامزاده</td></tr>
    <tr><td>دخترانه</td><td>کمال دختران</td><td>کوچه</td><td>۸ قدم</td><td>دوطرفه</td><td>با فاصله دارد</td><td>ندارد</td><td>ندارد</td><td>نرسیده به میدان شهید بزاز، نبش گلستان ۵</td></tr>
    <tr><td>دخترانه</td><td>گل یاس</td><td>کوچه</td><td>۸ قدم</td><td>دوطرفه</td><td>ندارد</td><td>ندارد</td><td>ندارد</td><td>خیابان نواب، اشرفی ۱۴، تکیه ابومحله، نبش کوچه بلای اولیا</td></tr>
    <tr><td>دخترانه</td><td>معراج نیکان</td><td>خیابان اصلی</td><td>۱۶ قدم</td><td>دوطرفه</td><td>دارد</td><td>ندارد</td><td>ندارد</td><td>کمربندی غربی، روبروی درمانگاه راجی‌فر</td></tr>
    <tr><td>دخترانه</td><td>مکتب القرآن (پیش)</td><td>خیابان فرعی</td><td>۸ قدم</td><td>دوطرفه</td><td>ندارد</td><td>ندارد</td><td>ندارد</td><td>چهارشنبه پیش، خیابان شهید بزاز، ایثار ۲۹</td></tr>
    <tr><td>دخترانه</td><td>مه چهرگان</td><td>خیابان فرعی</td><td>۱۳ قدم</td><td>دوطرفه</td><td>ندارد</td><td>ندارد</td><td>ندارد</td><td>کمربندی غربی، خیابان ضرابپوری، بعد از کوچه ابراهیم نوریان</td></tr>
    <tr><td>دخترانه</td><td>مهر آقالری</td><td>خیابان فرعی</td><td>۱۸ قدم</td><td>دوطرفه</td><td>با فاصله دارد</td><td>ندارد</td><td>ندارد</td><td>گلشن، اشرفی ۱۱، پلاک ۴۹</td></tr>
    <tr><td>دخترانه</td><td>مهر پردیس</td><td>خیابان فرعی</td><td></td><td>دوطرفه</td><td>ندارد</td><td>ندارد</td><td>ندارد</td><td>میدان حمزه کلا، بسیج ۴، جنب بانک سپه</td></tr>
    <tr><td>دخترانه</td><td>مهرا</td><td>خیابان اصلی</td><td>۱۲ قدم</td><td>دوطرفه</td><td>با فاصله دارد</td><td>ندارد</td><td>ندارد</td><td>شهاب‌نیا، نبش حر ۱۱</td></tr>
    <tr><td>دخترانه</td><td>مهرگان</td><td>خیابان فرعی</td><td></td><td>دوطرفه</td><td>دارد</td><td>دارد</td><td>ندارد</td><td>خیابان گل، روبروی گل ۱۲</td></tr>
    <tr><td>دخترانه</td><td>هدایت</td><td>خیابان اصلی</td><td>۱۲ قدم</td><td>دوطرفه</td><td>ندارد</td><td>ندارد</td><td>ندارد</td><td>چاله زمین روبروی مسجد، روبروی اندیشه ۱۲</td></tr>
    <tr><td>دخترانه</td><td>یاس نبی</td><td>خیابان فرعی</td><td>۱۶ قدم</td><td>دوطرفه</td><td>دارد</td><td>ندارد</td><td>ندارد</td><td>امیرکلا، میدان انقلاب، خیابان ابن سینا، اولین کوچه سمت راست</td></tr>
    <tr><td>دخترانه</td><td>اسلام آباد شرق</td><td>خیابان فرعی</td><td>۱۱ قدم</td><td>دوطرفه</td><td>ندارد</td><td>ندارد</td><td>ندارد</td><td>جاده قائم شهر به بابل- خداداد ۲۴ اسلام ۱</td></tr>
    <tr><td>دخترانه</td><td>ام البنین نوبت اول</td><td>کوچه</td><td>۱۲ متری</td><td>دوطرفه</td><td>دارد</td><td>ندارد</td><td>ندارد</td><td>امیر کلاچهارراه دیوکلا، به طرف جمعه بازار</td></tr>
    <tr><td>دخترانه</td><td>ام البنین نوبت دوم</td><td>کوچه</td><td>۱۲ متری</td><td>دوطرفه</td><td>با فاصله دارد</td><td>ندارد</td><td>ندارد</td><td>امیر کلاچهارراه دیوکلا، به طرف جمعه بازار</td></tr>
    <tr><td>دخترانه</td><td>بنت الهدی</td><td>خیابان اصلی</td><td>۳۰ متر</td><td>دوطرفه</td><td>دارد</td><td>ندارد</td><td>ندارد</td><td>خیابان مدرس، نرسیده به چهارراه فرهنگ، جنب کانون امام خمینی</td></tr>
    <tr><td>دخترانه</td><td>بوعلى</td><td>خیابان فرعی</td><td>۱۱ قدم</td><td>دوطرفه</td><td>ندارد</td><td>ندارد</td><td>ندارد</td><td>خیابان گنج افروز، خیابان شهید یحیی پور، گنجی ۲۹، کوچه جاهد ۸</td></tr>
    <tr><td>دخترانه</td><td>جنت او شیب</td><td>خیابان فرعی</td><td>۱۲ قدم</td><td>دوطرفه</td><td>ندارد</td><td>ندارد</td><td>ندارد</td><td>کمربندی غربی، توحید ۲۸، مهتاب ۲، جنت ۴</td></tr>
    <tr><td>دخترانه</td><td>حاج جمال خلیل پور</td><td>خیابان فرعی</td><td>۱۷ قدم</td><td>دوطرفه</td><td>ندارد</td><td>ندارد</td><td>ندارد</td><td>کتی غربی (جاده بابل-قائم شهر) خداداد ۲۵ (ولیعصر) بین گاوزن ۷ و ۹</td></tr>
    <tr><td>دخترانه</td><td>حاج علی اکبر ثاقب</td><td>کوچه</td><td>۶ متر</td><td>دوطرفه</td><td>ندارد</td><td>ندارد</td><td>ندارد</td><td>پنج شنبه بازار</td></tr>
    <tr><td>دخترانه</td><td>حاج کمال امینی</td><td>خیابان فرعی</td><td>۱۸ قدم</td><td>دوطرفه</td><td>با فاصله دارد</td><td>دارد</td><td>ندارد</td><td>پشت پارک شادی</td></tr>
    <tr><td>دخترانه</td><td>حضرت رقیه بنت الحسین</td><td>خیابان اصلی</td><td>۱۵ قدم</td><td>دوطرفه</td><td>دارد</td><td>ندارد</td><td>ندارد</td><td>میدان کارگر-خیابان کشاورز-نبش دانشجو ۸</td></tr>
    <tr><td>دخترانه</td><td>خدیجه رستمی</td><td>خیابان فرعی</td><td>۲۰ قدم</td><td>دوطرفه</td><td>ندارد</td><td>ندارد</td><td>ندارد</td><td>موزیرج درویش، ابتدای ارشاد ۱۵</td></tr>
    <tr><td>دخترانه</td><td>زهره توفیقی</td><td>خیابان فرعی</td><td>۱۳ قدم</td><td>دوطرفه</td><td>ندارد</td><td>ندارد</td><td>ندارد</td><td>خیابان مدرس، کوچه گل آذین، بعد از آتشنشانی</td></tr>
    <tr><td>دخترانه</td><td>سیزده آبان دختر</td><td>کوچه</td><td>۲۰ قدم</td><td>دوطرفه</td><td>ندارد</td><td>ندارد</td><td>ندارد</td><td>روبروی آرامگاه گله محله</td></tr>
    <tr><td>دخترانه</td><td>شاهد دختران</td><td>خیابان فرعی</td><td>۱۴ قدم</td><td>دوطرفه</td><td>ندارد</td><td>ندارد</td><td>ندارد</td><td>خیابان شریعتی، خیابان راهنمایی و رانندگی، جنب راهنمایی و رانندگی</td></tr>
    <tr><td>دخترانه</td><td>شهدای هویزه</td><td>خیابان فرعی</td><td>۱۲ قدم</td><td>دوطرفه</td><td>دارد</td><td>دارد</td><td>ندارد</td><td>بعد از پل محمدحسن خان، کوچه شهرک فرهنگیان (فلسطین ۱۹)</td></tr>
    <tr><td>دخترانه</td><td>شهید باهنر دختران</td><td>خیابان فرعی</td><td>۱۰ قدم</td><td>دوطرفه</td><td>ندارد</td><td>ندارد</td><td>ندارد</td><td></td></tr>
    <tr><td>دخترانه</td><td>شهید ابوالحسن شکری حیدری دختران</td><td>خیابان فرعی</td><td>۱۴ قدم</td><td>دوطرفه</td><td>ندارد</td><td>دارد</td><td>ندارد</td><td>خیابان نژاد اکبر، خیابان صاحب الزمان</td></tr>
    <tr><td>دخترانه</td><td>شهید کاظم بیگی</td><td>خیابان اصلی</td><td>۱۸ قدم</td><td>دوطرفه</td><td>ندارد</td><td>ندارد</td><td>ندارد</td><td>کمربندی شرقی، خیابان شهید کاظم بیگی</td></tr>
    <tr><td>دخترانه</td><td>عبدا.. اسلامی</td><td>خیابان فرعی</td><td>۲۱ قدم</td><td>دوطرفه</td><td>ندارد</td><td>دارد</td><td>ندارد</td><td>موزیرج، یخچال سازی، ارشاد ۱۰</td></tr>
    <tr><td>دخترانه</td><td>عصمتیه</td><td>خیابان فرعی</td><td>۱۶ قدم</td><td>دوطرفه</td><td>دارد</td><td>ندارد</td><td>ندارد</td><td>امیرکلا، دیوکلا، چهارراه مهارت سمت راست</td></tr>
    <tr><td>دخترانه</td><td>علی اصغر فامیلی</td><td>کوچه</td><td>۱۲ متری</td><td>دوطرفه</td><td>ندارد</td><td>ندارد</td><td>ندارد</td><td>بید آباد، سنگ پل ایثار ۲۵، نرسیده به کانون پرورش فکری</td></tr>
    <tr><td>دخترانه</td><td>علی اصغر فلاح دختران</td><td>خیابان فرعی</td><td>۱۰ قدم</td><td>دوطرفه</td><td>ندارد</td><td>دارد</td><td>ندارد</td><td>فیضیه ۱۴</td></tr>
    <tr><td>دخترانه</td><td>محمد صادق شفیع زاده</td><td>بن بست</td><td>۱۶ قدم</td><td>دوطرفه</td><td>با فاصله دارد</td><td>دارد</td><td>ندارد</td><td>امیرکلا-میدان انقلاب-سمت راست-کوچه شهید امیری ۱۵</td></tr>
    <tr><td>دخترانه</td><td>مقیمی فروزنده</td><td>خیابان اصلی</td><td>۱۸ متری</td><td>دوطرفه</td><td>دارد</td><td>ندارد</td><td>ندارد</td><td>خیابان فلسطین، روبروی مجتمع ارشاد، پشت فرمانداری</td></tr>
    <tr><td>پسرانه</td><td>اسلامی انصاریه</td><td>خیابان اصلی</td><td>۲۶ قدم</td><td>دوطرفه</td><td>ندارد</td><td>ندارد</td><td>ندارد</td><td>میدان کارگر، ابتدای خیابان گنج افروز</td></tr>
    <tr><td>پسرانه</td><td>اشراق</td><td>خیابان فرعی</td><td>۲۰ قدم</td><td>دوطرفه</td><td>ندارد</td><td>ندارد</td><td>ندارد</td><td>خیابان ساحلی، شهرک اندیشه</td></tr>
    <tr><td>پسرانه</td><td>اندیشه ۱</td><td>کوچه</td><td>۲۰ قدم</td><td>دوطرفه</td><td>ندارد</td><td>ندارد</td><td>ندارد</td><td></td></tr>
    <tr><td>پسرانه</td><td>اندیشه ۲</td><td>کوچه</td><td>۹ قدم</td><td>دوطرفه</td><td>ندارد</td><td>ندارد</td><td>ندارد</td><td>خیابان شریعتی معلم ۹استقلال ۴</td></tr>
    <tr><td>پسرانه</td><td>آل یاسین</td><td>خیابان فرعی</td><td>۱۰ قدم</td><td>دوطرفه</td><td>با فاصله دارد</td><td>ندارد</td><td>ندارد</td><td>میدان کشوری جاده قائمشهر بابل - روبروی اداره برق خداداد۱۳</td></tr>
    <tr><td>پسرانه</td><td>آینده روشن</td><td>خیابان فرعی</td><td>۱۲ قدم</td><td>دوطرفه</td><td>با فاصله دارد</td><td>ندارد</td><td>ندارد</td><td>میدان امام علی، نبش دانش بعد از گت مارکت</td></tr>
    <tr><td>پسرانه</td><td>بقیه الله</td><td>بن بست</td><td></td><td>دوطرفه</td><td>ندارد</td><td>ندارد</td><td>ندارد</td><td></td></tr>
    <tr><td>پسرانه</td><td>پویندگان</td><td>بن بست</td><td>۱۰ قدم</td><td>دوطرفه</td><td>ندارد</td><td>ندارد</td><td>ندارد</td><td></td></tr>
    <tr><td>پسرانه</td><td>پیشگامان</td><td>کوچه</td><td>۱۴ متر</td><td>دوطرفه</td><td>ندارد</td><td>ندارد</td><td>ندارد</td><td>خیابان نواب، اشرفی ۲۱، روبروی مسجد بعثت</td></tr>
    <tr><td>پسرانه</td><td>توحید</td><td>کوچه</td><td>۸ متر</td><td>دوطرفه</td><td>ندارد</td><td>ندارد</td><td>ندارد</td><td>خیابان امیرکبیر شرقی، فردوس ۴، معراج ۲۴</td></tr>
    <tr><td>پسرانه</td><td>راهیان نور</td><td>کوچه</td><td>۶ قدم</td><td>دوطرفه</td><td>ندارد</td><td>ندارد</td><td>ندارد</td><td>کمربندی شرقی، نرسیده به میدان بزاز، بوستان ۳۱</td></tr>
    <tr><td>پسرانه</td><td>رشد</td><td>خیابان اصلی</td><td></td><td>دوطرفه</td><td>ندارد</td><td>ندارد</td><td>ندارد</td><td>جاده قائم شهر به بابل-نبش خداد ۸</td></tr>
    <tr><td>پسرانه</td><td>سما</td><td>خیابان فرعی</td><td>۱۰ قدم</td><td>دوطرفه</td><td>ندارد</td><td>ندارد</td><td>ندارد</td><td>کمربندی غربی، روبروی مبلمان مرکزی، توحید ۵۶، ساختمان دانشگاه آزاد سابق</td></tr>
    <tr><td>پسرانه</td><td>شکوفه های انقلاب</td><td>خیابان فرعی</td><td>۱۲ متری</td><td>دوطرفه</td><td>دارد</td><td>ندارد</td><td>ندارد</td><td>امیرکلا شهرک فاطری</td></tr>
    <tr><td>پسرانه</td><td>علم و ادب</td><td>کوچه</td><td>۱۶ قدم</td><td>دوطرفه</td><td>ندارد</td><td>ندارد</td><td>ندارد</td><td>خیابان بابلسر-انتهای کوچه تویوتا-سمت راست</td></tr>
    <tr><td>پسرانه</td><td>فردوس کبیر</td><td>کوچه</td><td>۸ متر</td><td>دوطرفه</td><td>ندارد</td><td>دارد</td><td>ندارد</td><td>خیابان امیرکبیر شرقی، فردوس ۲</td></tr>
    <tr><td>پسرانه</td><td>فرزانگان</td><td>کوچه</td><td>۸ قدم</td><td>دوطرفه</td><td>با فاصله دارد</td><td>ندارد</td><td>ندارد</td><td>خیابان مدرس، روبروی شهرداری، مدرس ۶</td></tr>
    <tr><td>پسرانه</td><td>کسری</td><td>کوچه</td><td>۷ قدم</td><td>دوطرفه</td><td>با فاصله دارد</td><td>ندارد</td><td>ندارد</td><td>بین کشوری و کارگر - خیابان طبرسی-کوچه سرداران ۵</td></tr>
    <tr><td>پسرانه</td><td>کمال</td><td>کوچه</td><td>۱۲ متری</td><td>دوطرفه</td><td>با فاصله دارد</td><td>ندارد</td><td>ندارد</td><td>کمربندی غربی، کوچه بهاران ۲۳</td></tr>
    <tr><td>پسرانه</td><td>کوشا</td><td>خیابان فرعی</td><td>۱۲ قدم</td><td>دوطرفه</td><td>ندارد</td><td>ندارد</td><td>ندارد</td><td>میدان کارگر-خیابان شهید اسماعیل‌پور-بین بابایی ۳ و ۵</td></tr>
    <tr><td>پسرانه</td><td>نخبگان</td><td>خیابان اصلی</td><td>۱۲ متری</td><td>دوطرفه</td><td>ندارد</td><td>ندارد</td><td>ندارد</td><td>میدان باغ فردوس روبروی بیمارستان کلینیک</td></tr>
    <tr><td>پسرانه</td><td>نور</td><td>کوچه</td><td>۸ قدم</td><td>دوطرفه</td><td>ندارد</td><td>ندارد</td><td>ندارد</td><td>خیابان نواب، اشرفی ۲۱ بعثت ۵</td></tr>
    <tr><td>پسرانه</td><td>نور دانش</td><td>خیابان اصلی</td><td>۲۶ متر</td><td>دوطرفه</td><td>با فاصله دارد</td><td>ندارد</td><td>ندارد</td><td>گنج افروز-بلوار کشاورز-بعد از بیمارستا روحانیروبروی اداره آبیاری بین دانشجو ۲۸ و ۳۰</td></tr>
    <tr><td>پسرانه</td><td>نیکان</td><td>کوچه</td><td>۱۴ متر</td><td>دوطرفه</td><td>ندارد</td><td>ندارد</td><td>ندارد</td><td>میدان دوم حمزه کلا کوچه جنب نیروی انتظامی</td></tr>
    <tr><td>پسرانه</td><td>هدی پسران</td><td>خیابان فرعی</td><td>۸ متر</td><td>دوطرفه</td><td>ندارد</td><td>ندارد</td><td>ندارد</td><td>کمربندی شرقی گلستان ۹ بازگیرکلا</td></tr>
    <tr><td>پسرانه</td><td>پیروزی</td><td>کوچه</td><td>۸ قدم</td><td>دوطرفه</td><td>ندارد</td><td>ندارد</td><td>ندارد</td><td>امیرکبیر، سه راه سجادی-کوچه شهید مدرس</td></tr>
    <tr><td>پسرانه</td><td>جابربن حیان</td><td>خیابان اصلی</td><td>۸ متری</td><td>دوطرفه</td><td>ندارد</td><td>ندارد</td><td>ندارد</td><td>بازگیر کلا رویروی درب غربی تربیت معلم</td></tr>
    <tr><td>پسرانه</td><td>حاج محمدعلی ایمانی</td><td>خیابان اصلی</td><td>۳۱ قدم</td><td>دوطرفه</td><td>با فاصله دارد</td><td>ندارد</td><td>ندارد</td><td>روبروی دانشگاه علوم پزشکی</td></tr>
    <tr><td>پسرانه</td><td>حافظ</td><td>کوچه</td><td>۱۲ متری</td><td>دوطرفه</td><td>ندارد</td><td>ندارد</td><td>ندارد</td><td>پشت گنجینه</td></tr>
    <tr><td>پسرانه</td><td>رحمانی</td><td>بن بست</td><td>۸ قدم</td><td>دوطرفه</td><td>ندارد</td><td>ندارد</td><td>ندارد</td><td>روبروی مسجد چاله زمین</td></tr>
    <tr><td>پسرانه</td><td>سید رضی میرزاد</td><td>کوچه</td><td>۹ قدم</td><td>دوطرفه</td><td>ندارد</td><td>ندارد</td><td>ندارد</td><td>کتی غربی (جاده بابل-قائمشهر) خداداد ۲۵ (ولیعصر) گاوزن ۱۱</td></tr>
    <tr><td>پسرانه</td><td>سیزده آبان پسران</td><td>خیابان اصلی</td><td>۲۰ قدم</td><td>دوطرفه</td><td>ندارد</td><td>ندارد</td><td>ندارد</td><td>روبروی آرامگاه گله محله</td></tr>
    <tr><td>پسرانه</td><td>شاهد پسران (شهید وحید بابایی)</td><td>خیابان فرعی</td><td>نبش ۷ قدم و ۱۰ قدم</td><td>دوطرفه</td><td>ندارد</td><td>ندارد</td><td>ندارد</td><td></td></tr>
    <tr><td>پسرانه</td><td>شفاعت دوره دوم</td><td>کوچه</td><td>۹ قدم</td><td>دوطرفه</td><td>ندارد</td><td>ندارد</td><td>ندارد</td><td>امیرکلا، کوچه نیروانتضامی، روبرو گلزار شایستگان</td></tr>
    <tr><td>پسرانه</td><td>شهدای هفت تیر</td><td>کوچه</td><td>۸ متر</td><td>دوطرفه</td><td>ندارد</td><td>ندارد</td><td>ندارد</td><td>خورشید کلا، کوچه روبروی مسجد</td></tr>
    <tr><td>پسرانه</td><td>شهرک اسلام</td><td>کوچه</td><td>۱۲ قدم</td><td>دوطرفه</td><td>ندارد</td><td>ندارد</td><td>ندارد</td><td>خیابان گنج افروز،روبروی خیابان قند و شکر،  کوچه یحیی‌پور گنجی ۳۴</td></tr>
    <tr><td>پسرانه</td><td>شهید اکبر زاده</td><td>کوچه</td><td>۱۲ قدم</td><td>دوطرفه</td><td>ندارد</td><td>دارد</td><td>ندارد</td><td>سبزه میدان، خیابان بازار، کوچه فرهنگ ۷</td></tr>
    <tr><td>پسرانه</td><td>شهید باهنر پسران</td><td>کوچه</td><td>۱۲ متری</td><td>دوطرفه</td><td>ندارد</td><td>ندارد</td><td>ندارد</td><td>پشت گنجینه</td></tr>
    <tr><td>پسرانه</td><td>شهید ابوالحسن شکری</td><td>خیابان فرعی</td><td>۱۱ قدم</td><td>دوطرفه</td><td>ندارد</td><td>ندارد</td><td>ندارد</td><td>ادامه فیضیه ۱۴، حیدر ۵، نبش حیدر ۲۱</td></tr>
    <tr><td>پسرانه</td><td>شهید غلامزاده میر</td><td>خیابان اصلی</td><td></td><td>دوطرفه</td><td>دارد</td><td>ندارد</td><td></td><td>سبزه میدان، روبروی اداره پست</td></tr>
    <tr><td>پسرانه</td><td>شهید ناصری</td><td>خیابان فرعی</td><td>۱۵ قدم</td><td>دوطرفه</td><td>دارد</td><td>ندارد</td><td>ندارد</td><td>امیرکلا - میدان انقلاب-منبع آب به سمت گلزار شهدا</td></tr>
    <tr><td>پسرانه</td><td>صبوری</td><td>کوچه</td><td>۱۴ متر</td><td>دوطرفه</td><td>ندارد</td><td>ندارد</td><td>ندارد</td><td>بید آباد، انتقال خون</td></tr>
    <tr><td>پسرانه</td><td>علیرضا وثوقی</td><td>کوچه</td><td>۱۲ قدم</td><td>دوطرفه</td><td>ندارد</td><td>دارد</td><td>ندارد</td><td>امیرکلا، میدان انقلاب، ولیکردان، نرسیده به آرامگاه شایستگان</td></tr>
    <tr><td>پسرانه</td><td>علی اصغر فلاح پسران</td><td>خیابان فرعی</td><td>۹ قدم</td><td>دوطرفه</td><td>ندارد</td><td>ندارد</td><td>ندارد</td><td>فیضیه ۱۲</td></tr>
    <tr><td>پسرانه</td><td>مرحوم احمد بزرگی</td><td>کوچه</td><td>۶ قدم</td><td>دوطرفه</td><td>ندارد</td><td>ندارد</td><td>ندارد</td><td>بعد از پل محمدحسن خان، کوچه شهرک فرهنگیان (فلسطین ۱۹)</td></tr>
    <tr><td>پسرانه</td><td>مطلب فرزانه دوره دوم</td><td>خیابان فرعی</td><td>۱۴ قدم</td><td>دوطرفه</td><td>ندارد</td><td>ندارد</td><td>ندارد</td><td>خیابان نواب، خیابان دارالشفا، سرداران یکم</td></tr>
    <tr><td>پسرانه</td><td>مهد دانش پسران</td><td>خیابان فرعی</td><td>۱۳ قدم</td><td>دوطرفه</td><td>ندارد</td><td>دارد</td><td>ندارد</td><td>چاده قائمشهر به بابل-خداداد ۱۶-فرهیختگان ۲۴</td></tr>
    <tr><td>پسرانه</td><td>میناگر</td><td>خیابان فرعی</td><td></td><td></td><td>ندارد</td><td>ندارد</td><td>ندارد</td><td>چهارسوق، ایثار ۱۱</td></tr>
    <tr><td>پسرانه</td><td>نصرالهی</td><td>بن بست</td><td>۱۳ قدم</td><td>دوطرفه</td><td>ندارد</td><td>ندارد</td><td>ندارد</td><td>موزرج، ارشاد ۱۴</td></tr>
    <tr><td>پسرانه</td><td>نوشیروانی</td><td>کوچه</td><td>۱۰ قدم</td><td>دوطرفه</td><td>ندارد</td><td>ندارد</td><td>ندارد</td><td>حکیم آباد، مصلی ۱۷</td></tr>
    <tr><td>پسرانه</td><td>شهدای پائین موزیرج</td><td>بن بست</td><td>۸ قدم</td><td>دوطرفه</td><td>ندارد</td><td>ندارد</td><td>ندارد</td><td>موزیرج، درویش، ارشاد ۱۵ کوچه بعد از قنادی شادکام، سمت چپ</td></tr>
    <tr><td>مختلط</td><td>اختلالات روشنا</td><td>بن بست</td><td>۶ قدم</td><td>دوطرفه</td><td>ندارد</td><td>ندارد</td><td>ندارد</td><td>پاسداران ۴ کوچه کمیل</td></tr>
    <tr><td>مختلط</td><td>اختلالات یادگیری کوشا</td><td>خیابان فرعی</td><td>۱۰ قدم</td><td>دوطرفه</td><td>دارد</td><td>ندارد</td><td>ندارد</td><td>میدان هلال احمر، مدرس ۱، جنب اداره آموزش و پرورش</td></tr>
    <tr><td>مختلط</td><td>هنرستان دانش‌آموزان با نیازهای ویژه حضرت ابوالفضل</td><td>بن بست</td><td>۶ قدم</td><td>دوطرفه</td><td>ندارد</td><td>ندارد</td><td>ندارد</td><td>جاده قائمشهر به بابل، قبل از میدان هادی نوروزی، خداد ۳۸</td></tr>
    <tr><td>مختلط</td><td>خاطره رامش</td><td>خیابان فرعی</td><td>۱۵ قدم</td><td>دوطرفه</td><td>ندارد</td><td>ندارد</td><td>ندارد</td><td>کمربندی غربی کله محله کوچه آژانس گل</td></tr>
    <tr><td>مختلط</td><td>شفیع زاده</td><td>خیابان فرعی</td><td>۱۴ متر</td><td>دوطرفه</td><td>با فاصله دارد</td><td>ندارد</td><td>ندارد</td><td>امیرکلا بندر کلا-بالاتر از میدان امام علی- روبروی اداره آب و فاضلاب- سهرابی ۶</td></tr>
    <tr><td>مختلط</td><td>شهید رجایی</td><td>بن بست</td><td></td><td>دوطرفه</td><td>ندارد</td><td>ندارد</td><td>ندارد</td><td></td></tr>
    <tr><td>مختلط</td><td>مرکز غیردولتی آموزش و توان‌بخشی آفرینش</td><td>کوچه</td><td>۱۰ قدم</td><td>دوطرفه</td><td>ندارد</td><td>ندارد</td><td>ندارد</td><td>کشوری، خداداد ۴، کوی امیرالمومنین</td></tr>
  </tbody>
</table>
<script type="text/javascript">
  $(document).ready(function() {
    $('#schoolsTable').DataTable({
      language: {
          url: '//cdn.datatables.net/plug-ins/1.11.5/i18n/fa.json'
      }
    });
} );
</script>
