<div class="mt-3">
  <strong>خط عابر پیاده</strong>
  <div class="progress" style="height: 30px;">
    <div class="progress-bar bg-danger" role="progressbar" style="width: 13%" aria-valuenow="13" aria-valuemin="0" aria-valuemax="100">13%</div>
  </div>
</div>
<div class="mt-3">
  <strong>سرعت‌گیر</strong>
  <div class="progress" style="height: 30px;">
    <div class="progress-bar bg-danger" role="progressbar" style="width: 10%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">10%</div>
  </div>
</div>
<div class="mt-3">
  <strong>تابلو راهنمایی</strong>
  <div class="progress" style="height: 30px;">
    <div class="progress-bar bg-danger" role="progressbar" style="width: 1%" aria-valuenow="1" aria-valuemin="0" aria-valuemax="100">1%</div>
  </div>
</div>
